fastapi
uvicorn[standard]
flask
pydantic
python-dotenv
flask-login
flask-session
flask-mail
flask-cors
flask-limiter
sqlalchemy
alembic
asyncpg
email-validator
bcrypt
passlib[bcrypt]
python-jose[cryptography]
python-multipart
requests
aiofiles
loguru
gunicorn
a2wsgi
asgiref
itsdangerous
Jinja2
psycopg[binary]
PyJWT
