fastapi
uvicorn[standard]
pydantic
python-dotenv
sqlalchemy
alembic
email-validator
passlib[bcrypt]
python-jose[cryptography]
bcrypt
httpx
aiofiles
python-multipart
Pillow
pdfplumber
pypdf
reportlab
python-docx
python-pptx
requests
loguru
gunicorn
a2wsgi
asgiref
itsdangerous
Jinja2
psycopg[binary]
PyJWT
Flask==2.2.5
Flask-Login==0.6.2
Flask-Session==0.5.0
Flask-Cors==4.0.0
Flask-WTF==1.1.1
