fastapi
uvicorn[standard]
pydantic
python-dotenv
sqlalchemy
asyncpg
alembic
email-validator
passlib[bcrypt]
python-jose[cryptography]
bcrypt
httpx
aiofiles
python-multipart
requests
loguru
gunicorn
a2wsgi
asgiref
itsdangerous
Jinja2
psycopg[binary]
PyJWT
flask
flask-login
flask-session
flask-cors
flask-wtf
